<?xml version="1.0" ?>
<robot name="gummi" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="two_dof_head">
    <joint name="head_yaw" />
    <joint name="head_pitch" />
</xacro:macro>

<xacro:macro name="group_state_two_dof_head">
  <joint name="head_yaw" value="0" />
  <joint name="head_pitch" value="0" />
</xacro:macro>


<xacro:macro name="disable_collisions_head">
  <disable_collisions link1="base_link" link2="head_yaw" reason="Adjacent" />
  <disable_collisions link1="head_yaw" link2="head_pitch" reason="Adjacent" />
  <disable_collisions link1="base_link" link2="head_pitch" reason="Never" />
</xacro:macro>
</robot>
