<launch>
  <!-- <arg name="serial_no_camera2"    			default="826212070795"/> -->
  <arg name="serial_no_camera2"    			default="821212060903"/> 
  <arg name="serial_no_camera1"    			default="826212070795"/> 
  <arg name="camera1"              			default="camera1"/>		<!-- Note: Replace with camera name -->
  <arg name="camera2"              			default="camera2"/>		<!-- Note: Replace with camera name -->
  <arg name="tf_prefix_camera1"           	default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"           	default="$(arg camera2)"/>

  <group ns="$(arg camera1)">
    <include file="$(find gummi_head_twodof)/launch/nodelet.launch.xml">
      <arg name="serial_no"     value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"		value="$(arg tf_prefix_camera1)"/>
    </include>

    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>
    <node pkg="nodelet" type="nodelet" name="convert_depth_to_m"
        args="load depth_image_proc/convert_metric standalone_nodelet">
        <remap from="image_raw" to="aligned_depth_to_color/image_raw"/>
        <remap from="image" to="depth/image_meters"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="realsense_link_broadcaster"
      args="0.0464 0.021995 -0.018 0 0 -1.57079632679 /head_pitch $(arg camera1)_link 100" />
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find gummi_head_twodof)/launch/nodelet.launch.xml">
      <arg name="serial_no"     value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		value="$(arg tf_prefix_camera2)"/>
    </include>

    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>
    <node pkg="nodelet" type="nodelet" name="convert_depth_to_m"
        args="load depth_image_proc/convert_metric standalone_nodelet">
        <remap from="image_raw" to="aligned_depth_to_color/image_raw"/>
        <remap from="image" to="depth/image_meters"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="realsense_link_broadcaster"
        args="1.30 0.15 0.10 0 3.14159265359 3.14159265359 /base_link $(arg camera2)_link 100" />   
  </group>
</launch>

